.descriptionsName{
    font-size: 48px;
        font-weight: 500;
        line-height: 1;
        letter-spacing: -.02em;
        text-align: center;
        color: rgb(21, 7, 47);
        margin-bottom: 32px;

}

.descriptionsText{
    font-size: 28px;
    font-weight: 300;
    line-height: 1.16;
    color: rgb(21, 7, 47);
    text-align: center;
    margin-bottom: 36px;
}